.card {
    margin: 15px;
    padding: 35px;
    width: 100%;
}

.card h1 {
    font-weight: 300;
    font-size: 27px;
    color: #36B;
}

.card .item {
    padding: 0;
    width: 100%;
    border-top: 0;
}

.row, .col {
    padding: 0 !important;
}


.card img{
    width: 100%;

}

.col-content {
  margin-left: 15px;
}


.card-img{
    width: 100%;
    padding: 0 !important;
}
.button-centered {
    margin: auto;
}
