.image-megafone {
  float: left;
}
.megafone {
  float: right;
  width: 250px;
}

.time-event{
  float: right;
  margin-top: 9px;
  margin-right: 55px;
  color: grey;
}

.content-event a{
  text-decoration: none;
  color: grey;
}

.title-event a{
  text-decoration: none;
  color: black;
}

.col img {
  width: 100%;
}
