#main {
    height: calc(100% - 72px);
}

#main label.item {
    border-width: 0 0 2px;
    border-color: #ddd;
    padding-left: 0 !important;
}

#main span.input-label {
    font-size: 14px !important;
    color: #444 !important;
    width: 100%;
}

#main input::-webkit-input-placeholder {
   color: #444 !important;
   width: 100%;
}

.btn-default {
    margin-top: 35px;
    padding: 0px 30px;
}

.btn-default.transparent {
    padding:0px;
    width:100%;
    background-color: transparent;
    color: #444;
}

.login-background {
    background-color: #ddd;
}

.content-header {
    line-height: 72px;
}

.content-header .button-icon i.icon:before{
    font-size: 24px;
    margin: 0 8px 0 15px;
}