<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{event.name}}">
  <ion-content class="padding">

    <div class="card">
      <div class="item">
        <div class="row">
          <div class="col col-25">
            <img ng-src="{{event.face}}">
          </div>
          <div class="col-content">
            <div class="col">
              <h2 class="title-event"><a href="#/tab/events/{{event.id}}">{{event.name}}</a></h2>
              <p class="content-event"><a href="#/tab/events/{{event.id}}">{{event.school.name}}</a></p>
              <button class="button button-small button-assertive">
                EU APOIO
              </button>
              <div class="time-event">
                <h2>{{event.date}}</h2>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>

    <div class="card">
      <div class="item item-avatar">
        <h2>{{event.name}}</h2>
        <hr>
        <p>{{event.contentText}}</p>

      </div>
    </div>

    <div class="card card-img">
      <img ng-src="{{event.map}}">
    </div>

</ion-view>
