<ion-view view-title="AlunAtivo" hide-nav-bar="true">
    <ion-content background-image="image-1">
        <div id="footer-gradient"></div>
        <div id="footer-content">
            <div class="row" >
                <p class="title" ><span>Qm ñ</span> se comunica <br> se estrumbica!</p>
            </div>
            <div class="row" >
                <button class="button button-positive button-centered btn-conhecer" ng-click="comecar()">CONHEÇER</button>
            </div>
            <div class="row" >
                <button class="button button-light button-centered btn-entrar" ng-click="login()">LOGIN</button>
            </div>
        </div>
    </ion-content>
</ion-view> 