<ion-view view-title="AlunAtivo" hide-nav-bar="true">
    <ion-content background-image="image-1">
        <div>
            <div class="row" >
            <p style="margin: auto; font-size: 34px" align="center">Qm ñ se comunica</p>
            </div>
            <div class="row" >
            <p style="margin: auto; font-size: 34px" align="center">se estrumbica!</p>
            </div>
            <div class="row" >
                <button class="button button-positive button-centered" ng-click="comecar()">COMEÇAR</button>
            </div>
            <div class="row" >
                <button class="button button-light button-centered" ng-click="login()">LOGIN</button>
            </div>
        </div>
    </ion-content>
</ion-view> 