/* 
 * Create by Willianson Araujo at Jul 02 2014
 */




/* iframe (outside)
-------------------------------------------------------------------------------------------*/
.cleanbox 											{ position:fixed; z-index:100; top:0; right:0; bottom:0; left:0; width:100%; height:100%; background:rgba(35,35,35,0.9) }
.cleanbox iframe 									{ display:none; position:relative; z-index:2; width:100%; height:100%; }
.cleanbox.loading::before							{ content:''; display:block; position:absolute; z-index:1; top:0; right:0; bottom:0; left:0; background:url(/assets/image/cleanbox/loading-32-gray-on-dark.gif) no-repeat center center; }
.cleanbox.loading iframe 							{  }
.cleanbox.loading.fullscreen a.close				{ display:none; }
.cleanbox.fullscreen a.close						{ display:block; position:absolute; z-index:9; top:4%; right:4%; font-size:20px; color:#000; text-decoration:none; }
.cleanbox.fullscreen a.close::before				{ margin-right:10px; }
.cleanbox.fullscreen iframe 						{  }




/* base
-------------------------------------------------------------------------------------------*/
body.cleanbox-hidescroll							{ overflow:hidden; }
body.cleanbox-body  								{ background:transparent; }
body.cleanbox-body div.base 						{ margin:0 auto; }
body.cleanbox-body.flex-top div.base				{ padding:80px 0; }




/* output
-------------------------------------------------------------------------------------------*/
body.cleanbox-body div#cleanbox-output 								{ position:fixed; z-index:20; top:-100px; right:10px; left:10px; color:#FFF; text-align:center; pointer-events:none; }
body.cleanbox-body div#cleanbox-output div#output-message			{ display:inline-block; position:relative; padding:0px 20px; height:35px; line-height:35px; background:rgba(0,0,0,0.5); }
body.cleanbox-body div#cleanbox-output div#output-message a			{ color:#FFF; }
body.cleanbox-body div#cleanbox-output div#output-message::after	{ content:''; opacity:0.15; position:absolute; top:0; right:0; bottom:0; left:0; border:1px solid white; border-radius:inherit; }
body.cleanbox-body div#cleanbox-output.success div#output-message	{ background:rgba(0,140,35,0.9); }
body.cleanbox-body div#cleanbox-output.error div#output-message		{ background:rgba(190,20,24,0.8); }
body.cleanbox-body div#cleanbox-output.info div#output-message		{ background:rgba(0,109,217,0.9); }




/* content_header
-------------------------------------------------------------------------------------------*/
body.cleanbox-body div.base section.content div.content-header						{ padding:30px 40px; border-radius:4px 4px 0 0; background:#08428F; }
body.cleanbox-body div.base section.content div.content-header h1					{ font-size:32px; color:#FFF; }
body.cleanbox-body div.base section.content div.content-header h1 span				{ opacity:0.2; display:inline-block; margin-left:5px; font-size:23px; color:inherit; }
body.cleanbox-body div.base section.content div.content-header a.close 				{ position:relative; top:4px; }
body.cleanbox-body div.base section.content div.content-header a.close:hover svg 	{ -ms-transform:scale(1.2); -webkit-transform:scale(1.2); transform:scale(1.2); }




/* content
-------------------------------------------------------------------------------------------*/
body.cleanbox-body div.base section.content 							{ position:relative; /*width:100%;*/ background:#EAEAEA; border-radius:5px; -webkit-box-shadow:0px 0px 50px rgba(0,0,0,0.3); -moz-box-shadow:0px 0px 50px rgba(0,0,0,0.3); box-shadow:0px 0px 50px rgba(0,0,0,0.3); }
body.cleanbox-body div.base section.content div.content-stage 			{ margin:40px; }
body.cleanbox-body div.base section.content::before						,
body.cleanbox-body div.base section.content::after						,
body.cleanbox-body div.base section.content div.content-stage::after	{ content:''; display:block; margin-bottom:-1px; height:1px; clear:both; }
body.cleanbox-body div.base section.content div.loading					{ opacity:1; position:absolute; z-index:9; top:0; right:0; bottom:0; left:0; height:100%; background:rgba(240,240,240,0.8) url(/assets/image/cleanbox/loading-32-dark-on-gray.gif) no-repeat center center; }
body.cleanbox-body div.base section.content.dialog 						{  }
body.cleanbox-body div.base section.content.dialog h1					{ font-size:26px; }
body.cleanbox-body div.base section.content.dialog a.button				{ width:90px; }




/* delete
-------------------------------------------------------------------------------------------*/
body#action-delete h1 				{ margin-bottom:20px; }
body#action-delete p 				{ margin-bottom:10px; }

